.navbar {
	width: 80%;
	margin: 0 auto;
}

.container-fluid {
	width: 80%;
	margin: 0 auto;
}

body{
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 50%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); */
	
	background: url(/media/images/fondo2.jpg) no-repeat fixed center center;
	background-size:100%;
	/*background-repeat: no-repeat;*/
	/*background: white;*/
}


header{
	
}

#principal-container{
	margin-top: 30px;
	padding-right:60px;
	padding-left:60px;
	margin-left: 0px ;
	margin-right: 0px ;
}

#principal-row{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right:30px;
	padding-left:30px;
	height: auto;
	width: 1070px;
	margin-left: -5px;
	border:3px solid #336699;
	
}

#ads-row{
	background: white;
	height: auto;
	margin-top: 4px;
}

#menu-btn{
	position: relative;
	margin-top: 13%;
}

#logo .over
{
    background: white;
}

#sidebar-izquierda{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border-style: solid;
border-width: 1px;
border-color: #E0E0E0;
padding-top:5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
/*font-size: 11px;
line-height: 1px;*/
}


#proximos-encuentros{
	padding-top: 20px;

}
