<!DOCTYPE HTML>
{% autoescape off %}
<html lang="en">

<head>	
	<title> {% block title %} {% endblock %} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='/media/css/bootstrap.css' rel='stylesheet' type='text/css'>
	<link href='/media/css/bootstrap-responsive.css' rel='stylesheet' type='text/css'>
	

	<link href='/media/css/ddmenu.css' rel='stylesheet' type='text/css'>
    	<script src='/media/js/ddmenu.js' type='text/javascript'></script>

	<link href='/media/themes/1/slider.css' rel='stylesheet' type='text/css' >
	<script src='/media/themes/1/thumbnail-slider.js' type='text/javascript'></script>

	<link href='/media/themes/11/js-image-slider.css' rel='stylesheet' type='text/css' >
	<script src='/media/themes/11/js-image-slider.js' type='text/javascript'></script>

	<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
	<link href='/media/css/style.css' rel='stylesheet' type='text/css'>
</head>

<body style="padding:15px 20px;">

	<header>
	<nav id="ddmenu">
        <ul>
	    <li id="logo"><a href="/"><img src="/media/images/uniffut.png" width="95"></a></li>
            <li><a href="/equipos">Equipos</a>
                <div>
                    <div class="column">
                        <b>Primera Division</b>
                        <a href="#">Arenal-Coronado</a>
                        <a href="#">Moravia</a>
                        <a href="#">C.C.D.R Flores</a>
                        <a href="#">Saprissa</a>
                        <a href="#">Asturias PTS</a>
                        <a href="#">UCEM-Alajuela</a>
                        <a href="#">Dimas Escazu</a>
                        <a href="#">Liberia</a>
                        <a href="#">Municipal Carrillo</a>
                        <a href="#">Cartago</a>
                    </div>
                    <div class="column">
                        <b>Segunda Division</b>
                        <a href="#">Barra Parismina</a>
                        <a href="#">Buceteras FC</a>
                        <a href="#">Campo 2</a>
                        <a href="#">Bosque de Guacimo FC</a>
                        <a href="#">Molino</a>
                        <a href="#">Cariari</a>
                        <a href="#">Deportivo Florida</a>
                        <a href="#">Ticaban</a>
                    </div>
                </div>
            </li>
            <li><a href="/noticias/page/1">Noticias</a></li>
            <li>Calendario
                <div>
                    <a href="#">Primera Division</a>
                    <a href="#">Segunda Division</a>
                </div>
            </li>
            <li>Tabla de Posiciones
                <div>
                    <a href="/tablaprimera/">Primera Division</a>
                    <a href="/tablasegunda/">Segunda Division</a>
                </div>  
            <li><a href="/galeria/page/1">Galeria</a>
            </li>
            <li><a href="#">Nosotros</a>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

	</header>

     <div id="principal-container" class="container-fluid">
        <div id="principal-row" class="row-fluid">
        <div class="span2">

        </div>
        <div class="span7">
            {% block content-center%}
            {% endblock %}
        </div>
        <div class="span3">

	<a class="twitter-timeline"  href="https://twitter.com/4Geeks_"  data-widget-id="255190734334992384">Tweets by @4Geeks_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Uniffut/172605906221333" data-width="235" data-show-faces="false" data-stream="false" data-header="false"></div>

        </div>
    </div>


    <br>

     <div class="div2">
        <div id="mcts1">
            {% if patrocinadores%}
                {% for p in patrocinadores%}
                    <img src="{{p.multimedia}}" style="width:150px; height:100px;"  >
                {% endfor %}>
            {% endif %}
            <img src="/media/images/patrocinadores/cocacola.png" style="width:150px; height:100px;" >
            <img src="/media/images/patrocinadores/powerade.jpg " style="width:150px; height:100px;"  />
            <img src="/media/images/patrocinadores/repretel.png" style="width:150px; height:100px;"  />
            <img src="/media/images/patrocinadores/thrifty.jpg" style="width:150px; height:100px;"  />
            <img src="/media/images/patrocinadores/cocacola.png" style="width:150px; height:100px;"  >
            <img src="/media/images/patrocinadores/powerade.jpg " style="width:150px; height:100px;"  />
            <img src="/media/images/patrocinadores/repretel.png" style="width:150px; height:100px;"  />
            <img src="/media/images/patrocinadores/thrifty.jpg" style="width:150px; height:100px;" />
        </div>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=114868051938176";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    

    <footer>
        
    </footer>


</body>
{% endautoescape  %}
</html>
