{% extends 'base.html' %}

{% block title %} Equipos {% endblock %}


{% block content-center %} 

{% if imagenes %}
     <div id="sliderFrame">
        <div id="slider">
            {% for e in imagenes %}
                <p> <img src="{{e.referencia}}" style="width:50px; height:50px" alt="{{e.nombre}}"/></a></p>
                {% endfor %}
        </div>
        </div>
{% else %}
        <h5 class="text-center"><span class="label label-warning">Atención: No hay imagenes para mostrar</span></h5>
{% endif %}

{% endblock %}

