{% extends 'base.html' %}

{% block title %} Equipos {% endblock %}


{% block content-center %} 

{% if imagenes %}
     <div id="sliderFrame">
        <div id="slider">
            {% for e in imagenes %}
                <img src="{{e.referencia}}" width="20px" height="20px" alt="{{e.nombre}}"/>
                {% endfor %}
        </div>
        </div>
{% else %}
        <h5 class="text-center"><span class="label label-warning">Atención: No hay imagenes para mostrar</span></h5>
{% endif %}

{% endblock %}

