{% extends "base.html" %}
{% block title %} Uniffut {% endblock %}


{% block side-izquierda %}
	{% for e in noticias %}
		<p>{{e.titulo}}</p>
	{% endfor %}
{% endblock %}

{% block content-center %} 

<div class="page-header">
  <h2>Bienvenidos al sitio oficial de la Federación Costarricense de Futbol Femenino. 
  <small>La mas completa informacion a tu alcance.</small></h2>
</div>

<a href="/galeria/page/1"><img src="/media/images/revive-encuentros.png" width="700"></a>


{% endblock %}
