{% extends 'base.html' %}
{% block title %} Equipos {% endblock %}



{% block navbar %}

	<li><a href="{% url view_index %}">Inicio</a></li>
	<li  class="active"><a href="{% url view_equipos %}">Equipos</a></li>
	<li><a href="#">Live your Goals</a></li>
	<li><a href="{% url view_noticias%}">Noticias</a></li>
	<li><a href="#">Acerca</a></li>
	<li><a href="#">Contacto</a></li>
{% endblock %}



{% block content-center %} 



{% if jugadora %} 
		<h3>Descripción de la jugadora</h3>
			<img src="{{jugadora.multimedia}}" width="160" align="right"/>
			<h5>Nombre: {{jugadora.nombre}} {{jugadora.apellido1}} {{jugadora.apellido2}}</h5>
			<h5>Fecha nacimiento: {{jugadora.nacimiento}}</h5>
			<h5>Posición: {{jugadora.posicion}}</h5>
			<h5>Estatura: {{jugadora.estatura}} cm</h5>
			<h5>País nacimiento: {{jugadora.pais}}</h5>
			{% if jugadora.capitan %}
				<h5>Capitana</h5>
			{% endif %}

{% endif %}

{% endblock %}
