{% extends 'base.html' %}
{% block title %} Equipos {% endblock %}



{% block navbar %}

	<li><a href="{% url view_index %}">Inicio</a></li>
	<li  class="active"><a href="{% url view_equipos %}">Equipos</a></li>
	<li><a href="#">Live your Goals</a></li>
	<li><a href="{% url view_noticias%}">Noticias</a></li>
	<li><a href="#">Acerca</a></li>
	<li><a href="#">Contacto</a></li>
{% endblock %}



{% block content-center %} 

{% if jugadoras %}

		<h4>Jugadoras</h4>
		<div class="row-fluid">

		{% for j in jugadoras %}

		<div class="span3">
		<a href="/jugadora/{{j.id}}"><img src="{{j.multimedia}}" width="150"  /></a><br/>		
		<p>{{j.nombre}} {{j.apellido1}}</p> 
	
		</div>

		{% endfor %}
		</div>

{% else %}
	<h5 class="text-center"><span class="label label-warning">Atención: No hay jugadoras por mostrar</span></h5>
{% endif %}

{% endblock %}

