{% extends 'base.html' %}

{% block title %} Contacto {% endblock %}


{% block content-center %} 




	<h1>Unión Femenina de Fútbol: UNIFFUT</h1>
	<br>

	<p>La UNIFFUT es la encargada de todas las competiciones a nivel femenino
	en Costa Rica.</p>
	<br>

	<p>La Unión Femenina de Fútbol es la entidad responsable del fútbol femenino en todas sus categorías: Primera y Segunda División. Liga Menor: U-17, U-15, U-12 y U-9</p>

	<br>

	<center><img src="/media/images/logo.png" width="300px"/></center>


{% endblock %}