{% extends 'base.html' %}
{% block title %} Noticia {% endblock %}

{% block head %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=166263433448312";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block content-center %} 
{% if noticia %} 
	<h1>{{noticia.titulo}}</h1>
	<p class="muted">{{noticia.fecha}}</p>
	<hr width=95% align="center">
	<img src="{{noticia.multimedia}}" width="300" height="300" align="left" hspace="10" VSPACE="3"/>
	<p >{{noticia.texto|safe}}</p>
	<br/><br/>
	<div class="fb-comments" data-href="{{ request.path }}" data-width="470" data-num-posts="10"></div>

{% endif %}

{% endblock %}
