{% extends 'base.html' %}
{% block title %} Noticias {% endblock %}



{% block content-center %} 

{% if noticias %} 
		<h3>Noticias</h3>
		{% for n in noticias %}
			<a href="/noticia/{{n.id}}"><img src="{{n.multimedia}}" width="300" height="300" align="center" ></a>
			<h5>{{n.fecha}} - {{n.titulo}} - {{n.texto|safe|truncatewords:"25"|linebreaks}}<a href="/noticia/{{n.id}}">.....ver mas</a></h5>

			 <br>

		{% endfor %}

{% else %}

	<h5 class="text-center"><span class="label label-warning">Atención: No hay noticias para mostrar</span></h5>

{% endif %}

{% if noticias %}

	<a href="/noticias/page/1"> << </a>

	{% if noticias.has_previous %}
		<a href="/noticias/page/{{noticias.previous_page_number}}">  Prev </a>
	{% else %}
		<a href="#"> Prev </a>
	{% endif %}

	{% if noticias.has_next %}
		<a href="/noticias/page/{{noticias.next_page_number}}"> Next </a>
	{% else %}
		<a href="#"> Next </a>
	{% endif %}

		<a href="/noticias/page/{{noticias.paginator.num_pages}}"> >> </a>

	<h6> Page {{noticias.number}} of {{noticias.paginator.num_pages}} </h6>

{% endif %}


{% endblock %}
